#room-wrapper{
	background:rgba(240, 240, 240, 0.75);
	padding:1em;
	border: 1px solid #aa2e2c;
	border-radius: 4px;
	text-align: center;
}

#rooms{
	padding: 0.5em 1em;
}

#create-room{
	margin-top: 1.85em
}

.room{
	border: 1px solid #000;
	border-radius: 3px;
	margin: 0.5em 0;
	background: #fff;
}

.room:hover{
	background: #eee;
	cursor: pointer;
	color: #000;
}

.current{
	color: #fff;
	background: #000;
} 